header{
    display: flex;
    align-items: center;
 
  
    .aranoz{
        flex: 0.2;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .links{
        flex: 0.6 ;
        display: flex;
        justify-content: center;
    }
    ul{
        display: flex;
        gap: 10px;
        li{
           list-style: none;
           font-size: 500;
        }
    }
    
    .icons{
        flex: 0.2;
        display: flex;
        gap: 10px;
    }
}