header{
    display: flex;
    align-items: center;

    .aranoz{
        flex: 0.2;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .links{
        flex: 0.6 ;
        display: flex;
        justify-content: center;
    }
    ul{
        display: flex;
        gap: 10px;
        li{
           list-style: none;
           font-size: 500;
           cursor: pointer;
        }

        li:hover{
            opacity: 0.6;
        }
    }
    
    .icons{
        flex: 0.2;
        display: flex;
        gap: 10px;
    }
    .menu-icon{
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .aranoz{
            flex: 0.2;
        }
        .menu-icon{
            flex: 0.2;
        }
        .menu-icon{
            display: block;
        }
        .links{
            display: none;
        }
        .icons{
            display: none
        }
    }
  }

 